{% extends '::base.html.twig' %}
{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block body %}{% spaceless %}
    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                {{ form_start(form) }}

                    {{ form_row( form.file ) }}

                    <button type="submit" class="btn btn-lg btn-primary">Send File</button>
                {{ form_end(form) }}
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->
{% endspaceless %}{% endblock %}