{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            You must upload an xml file with the books data before listing.
        </div>

        <div>
            <a href="{{ url('upload_file') }}" class="btn btn-lg btn-primary">Upload XML file</a>
        </div>
    </div>
{% endblock %}

