<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Country</th>
            <th>Language</th>
            <th>Price</th>
            <th>Quantity</th>
        </tr>
    </thead>
    <tbody>
        {% for book in books %}
            <tr>
                <td>{{ book.title }}</td>
                <td>{{ book.author }}</td>
                <td>{{ book.country }}</td>
                <td>{{ book.language }}</td>
                <td>{{ book.price|number_format }}</td>
                <td>{{ book.quantity }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>