{% extends 'base.html.twig' %}

{% block body %}
{% spaceless %}

    <div class="container">

        <div class="row">

            <div>
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#all" aria-controls="all" role="tab" data-toggle="tab">All Books</a></li>
                    <li role="presentation"><a href="#spanish-books" aria-controls="spanish-books" role="tab" data-toggle="tab">Spanish Books</a></li>
                    <li role="presentation"><a href="#french-books" aria-controls="french-books" role="tab" data-toggle="tab">French Books</a></li>
                    <li role="presentation"><a href="#mt-100" aria-controls="more-than-100" role="tab" data-toggle="tab">Books With Price >= 100</a></li>
                    <li role="presentation"><a href="#lt-100" aria-controls="less-than-100" role="tab" data-toggle="tab">Books With Quantity < 100</a></li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="all">
                        <h1>All books</h1>

                        {{ render( controller(
                            'YuxiPacificBundle:Books:getAll'
                        )) }}
                    </div>
                    <div role="tabpanel" class="tab-pane" id="spanish-books">
                        <h1>Spanish books</h1>

                        {{ render( controller(
                        'YuxiPacificBundle:Books:getSpanish'
                        )) }}
                    </div>
                    <div role="tabpanel" class="tab-pane" id="french-books">
                        <h1>French books</h1>

                        {{ render( controller(
                        'YuxiPacificBundle:Books:getFrench'
                        )) }}
                    </div>
                    <div role="tabpanel" class="tab-pane" id="mt-100">
                        <h1>Price more or equal than 100</h1>

                        {{ render( controller(
                        'YuxiPacificBundle:Books:getByPrice',
                        { operator : '>=', value : 100}
                        )) }}
                    </div>
                    <div role="tabpanel" class="tab-pane" id="lt-100">
                        <h1>Price less than 100</h1>

                        {{ render( controller(
                        'YuxiPacificBundle:Books:getByQuantity',
                        { operator : '<', value : 100}
                        )) }}
                    </div>
                </div>

            </div>

            <div>
                <a href="{{ url('upload_file') }}" class="btn btn-lg btn-primary">Upload another xml file</a>
            </div>
        </div>
    </div>
{% endspaceless %}
{% endblock %}